.elementor-20
  .elementor-element.elementor-element-11a2e94
  > .elementor-container
  > .elementor-row
  > .elementor-column
  > .elementor-column-wrap
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-20
  .elementor-element.elementor-element-11a2e94:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-20
  .elementor-element.elementor-element-11a2e94
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: rgba(255, 255, 255, 0.97);
}
.elementor-20 .elementor-element.elementor-element-11a2e94 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  z-index: 100;
}
.elementor-20
  .elementor-element.elementor-element-11a2e94
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-20
  .elementor-element.elementor-element-63e121b
  .elementor-icon-list-icon
  i {
  font-size: 22px;
}
.elementor-20
  .elementor-element.elementor-element-63e121b
  .elementor-icon-list-icon
  svg {
  width: 22px;
}
.elementor-20
  .elementor-element.elementor-element-63e121b
  .elementor-icon-list-icon {
  text-align: center;
}
.elementor-20
  .elementor-element.elementor-element-63e121b
  .elementor-icon-list-text {
  color: #ffffff;
  padding-left: 10px;
}
.elementor-20
  .elementor-element.elementor-element-63e121b
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: yellow;
}
.elementor-20 .elementor-element.elementor-element-63e121b {
  width: auto;
  max-width: auto;
}
.elementor-20
  .elementor-element.elementor-element-78690c2
  .elementor-image
  img {
  width: 115px;
}
.elementor-20
  .elementor-element.elementor-element-0ac98ac
  .elementor-menu-toggle {
  margin-left: auto;
}
.elementor-20 .elementor-element.elementor-element-0ac98ac {
  z-index: 9;
}
@media (max-width: 767px) {
  .elementor-20 .elementor-element.elementor-element-ab8e51d {
    width: 34%;
  }
  .elementor-20 .elementor-element.elementor-element-087dbf8 {
    width: 32%;
  }
  .elementor-20 .elementor-element.elementor-element-17124ac {
    width: 34%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-20 .elementor-element.elementor-element-ab8e51d {
    width: 28%;
  }
  .elementor-20 .elementor-element.elementor-element-087dbf8 {
    width: 44%;
  }
  .elementor-20 .elementor-element.elementor-element-17124ac {
    width: 28%;
  }
}
